:root {
  --vertical-bar-width: 75px;
}

#a { display: none; }

body {
    margin: 0px;
    padding: 0px;
	width: 100%;
}

.scrollable {
    overflow: auto;
	height: 100%;
}

.canvas_instance{
	border-style: inset;
	border: solid 5pt #F10C45;
	box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
}

#pointerWidthRange{
	width:64px;
	margin: 5px;
}

.view{}
.rec{}
.title{}
.slide_controls{}
.slide_buttons{}
.slide_list{}
.draw_controls{
	width: 75px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
#canvas_container{
	position: absolute;
	left: 75px;
	down: 75px;
	right: 75px;
	text-align: center;
}
.import_doc{}
.export_rec{}
.record_control{
	display:flex;
	flex-direction: column;
}
.replay_control{
	display: inline-block;
}

.color_button{
	width: 64px;
	height: 64px;
	margin: 5px;
	border-radius: 50%;
	border: 20px;
	border-color: white;
	box-shadow: 0 25px 25px rgba(0, 0, 0, 0.3);
}
.color_button:hover{
	filter: brightness(110%);
}

.left_bar{
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	width: var(--vertical-bar-width);
	background: #31668A;
	box-shadow: 0 25px 25px rgba(0, 0, 0, 0.3);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.mode_toggle_color_button{
	width: 45px;
	height: 45px;
	margin: 5px;
	padding: 10px;
	box-shadow: 0 25px 25px rgba(0, 0, 0, 0.5);
	background: #2B547A;
	border-radius: 30px;
}

.mode_toggle_color_button:hover{
	filter: brightness(110%);
}

.bottom_bar{
	position: fixed;
	display: flex;
	bottom: 0;
	background: #6B7C85;
	left: 00px;
	right: 00px;
	height: 75px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 20px;
	max-height: 75px;
}

.right_bar{
	position: fixed;
	right: 0;
	top: 0;
	bottom: 0;
	width: var(--vertical-bar-width);
	background: #31668A;
}

.button{
	width: 100%;
	color: cyan;
}

.button:hover{
	filter: brightness(200%);
}

.mode_toggle{
	display: flex;
	height: 69px;
	margin-right: 40px;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	border-radius: 35px;
	background: white;
	margin-left: auto;
}
.controlbutton{
    display: none;
}

#pauserecordButton{
  display: none;
}

.slidecontainer {
    width: 100%; /* Width of the outside container */
  }

  /* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  /* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }


#audioplayer{
    width: 480px;
    height: 64px;
    margin: auto;
    border: solid;
    display: none;
}

#pButton{
      height:60px;
      width: 60px;
      border: none;
      background-size: 50% 50%;
      background-repeat: no-repeat;
      background-position: center;
      float:left;
      outline:none;
}

.play{background: url('http://www.alexkatz.me/codepen/img/play.png') ;}
.pause{background: url('http://www.alexkatz.me/codepen/img/pause.png') ;}

#timeline{
    width: 400px;
    height: 20px;
    margin-top: 20px;
    float: left;
    border-radius: 15px;
    background: rgba(0,0,0,.3);

}
#playhead{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    margin-top: 1px;
    background: rgba(0, 0, 0,1);

}
#issoundpresent {
    float: right;
    align-content: center;
    margin-top: 30px;
    margin-left: 20px;
	font-weight: bold;
}
#issoundRecorded {
	margin: 30px;
	float: right;
	font-weight: bold;
}

#recordingTime{
	margin-top: 30px;
	float: right;
	font-weight: bold;
}

#credits{
	position: relative;
	align-self: flex-end;
	margin-left: auto;
	font-weight: bold;
	background-color: #6B7C85;
	border-radius: 20px;
	margin-right: 20px;
	margin-bottom: 5px;
}