*.~undo-tree~*
\#*\#
*~*
CoVid/
LectureContent.zip
LecturePDF.pdf
import_export_draft_button
mockup_record_mode.png
mockup_view_mode.png
new_index.html
o.png
res/css/toggle.css
res/functions.js
res/script.js
video_pres.odp
video_pres.pdf
work.org
res/scripts/dist/pdfjs/package/*
